### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [3]:
# Write code here

i = int(input("Enter the CTC: "))  
hra = 0.1
da = 0.05
pf = 0.03
i_afterdeduction = i*(1-hra)*(1-da)*(1-pf)

if i_afterdeduction <= 500000:
    tax = 0
    print(f"Final in-hand salary after all deductions and tax is: {i_afterdeduction}")
elif i_afterdeduction >= 500000 and i_afterdeduction <= 1000000:
    tax = 0.1*(i_afterdeduction-500000)
    print(f"Final in-hand salary after all deductions and tax is: {i_afterdeduction-tax}")
elif i_afterdeduction >= 1000000 and i_afterdeduction <= 2000000:
    tax = 0.2*(i_afterdeduction-1000000) + 50000
    print(f"Final in-hand salary after all deductions and tax is: {i_afterdeduction-tax}")
elif i_afterdeduction >= 2000000:
    tax = 0.3*(i_afterdeduction-2000000) + 50000 + 200000
    print(f"Final in-hand salary after all deductions and tax is: {i_afterdeduction-tax}")

Final in-hand salary after all deductions and tax is: 1263919.2259199999

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [3]:
# Write code here

a = float(input("Enter the measure of 1st angle in degrees: "))
b = float(input("Enter the measure of 2nd angle in degrees: "))
c = float(input("Enter the measure of 3rd angle in degrees: "))

if a+b+c == 180:
    print("The triangle is valid")
else:
    print("The triangle is not valid")

The triangle is valid

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [4]:
# Write code here

cp = float(input("Enter the cost price of the product: "))
sp = float(input("Enter the selling price of the product: "))

if sp > cp:
    print("Profit")
elif sp < cp:
    print("Loss")

Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [5]:
# Write code here

print("Press 1 for cm to ft")
print("Press 2 for km to miles")
print("Press 3 for USD to INR")
print("Press 4 for exit")
c = int(input("Enter your choice: "))

if c == 1:
    cm = float(input("Enter the length in cm: "))
    print(f"The length in ft is: {cm/30.48}")

elif c == 2:
    km = float(input("Enter the length in km: "))
    print(f"The length in miles is: {km/1.609}")

elif c == 3:
    usd = float(input("Enter the amount in USD: "))
    print(f"The amount in INR is: {usd*84.28}")

elif c == 4:
    print("Thank you for using the converter")
    
else:
    print("Invalid input")

Press 1 for cm to ft
Press 2 for km to miles
Press 3 for USD to INR
Press 4 for exit
The length in ft is: 2.2965879265091864

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [6]:
# Write code here

a, b = 0, 1
# Print the first two terms
print(a)
print(b)
# Generate the remaining terms
for i in range(8):
    c = a + b
    print(c)
    a, b = b, c

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [8]:
# Write code here
n = int(input("Enter the number: "))
for i in range(n, 1, -1):
    i = i-1
    n = n*i
print(f"The factorial of the number is: {n}")

The factorial of the number is: 120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [9]:
# Write code here

n = int(input("Enter the number: "))
s = str(n)
print(s[::-1])

9876

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [32]:

t = 0
n = int(input("Enter the number: "))
while n > 0:
    if n % 5 != 0:
        t = t + n
    n = n - 1
    if t > 300:
        break
print(t)

309

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [43]:
# Write code here

n = int(input("Enter the number:"))
t = 0
c = 0 

while n != 0:
    t = t + n
    c = c + 1
    n = int(input("Enter the number:"))
print(f"The sum of the numbers is: {t}")
print(f"The average of the numbers is: {t/c}")

The sum of the numbers is: 15
The average of the numbers is: 5.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [44]:
# Write code here

l = 2000
u = 3200
for i in range(l, u+1):
    if i % 7 == 0 and i % 5 != 0:
        print(i, end=", ")

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
even_numbers = []

for i in range(1000, 3001):
    digits = [int(d) for d in str(i)]
    if all(d % 2 == 0 for d in digits):
        even_numbers.append(i)

print(' '.join(str(num) for num in even_numbers))

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here